{% extends 'layout.html' %}

 {% block body %}
 <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
 <div class="well well-lg">
 <a class="btn btn-primary btn-lg" href="/dashapp1"> <span class="glyphicon glyphicon-expand"> GraphApp</a>
 </div>

 <div class="well well-lg">
 <a class="btn btn-primary  btn-lg" href="/dashapp2"><span class="glyphicon glyphicon-record">  LiveGraph</a>
 </div>

 <div class="well well-lg">
 <a class="btn btn-primary btn-lg" href="#"> <span class="glyphicon glyphicon-cog">   Config.   </a>

 </div>

 {% endblock %}
